 
/**************************
GENERAL
**************************/
html { position: relative; min-height: 100%;}
body {font: 100%/1.4 'Montserrat', Arial,Verdana,sans-serif; padding-bottom: 0; padding-top:0;
   margin-bottom: 252px; /* Margin bottom to match footer height */
   /*min-width:600px;       
   width: auto !important; 
   width:600px;   */	
}

a, a:active, a:visited { color: #99cccc; text-decoration: none!important;}	
a:hover {color:#000;}

.blog-post {padding: 20px 0 0px 0; width: 90%;}
.blog-masthead {margin-top: 50px; /*margin-top: 320px;*/ padding-bottom: 100px; min-height: 800px;}
.blog-main {z-index: 10000;}

.container {max-width: 100%; }

h1 {font-size: 50px; color:#99cccc; font-weight:500; padding-bottom: 30px; text-transform: lowercase;}
h2 {font-size:18px; color:#669999; font-weight: 600; /*text-transform: uppercase;*/}
h3 {font-size:15px; color:#669999; font-weight: 600;}
h4 {font-size:15px; color:#99cccc; font-weight: 600; text-transform: uppercase;}

blockquote {width: 100%; color: #669999; font-size: 17px; text-align: center; margin: auto; }
blockquote p { font-size: 17px;  color:#669999!important; padding: 20px 10px 20px 10px; width:80%; margin: auto;}
blockquote::before {content: url('../../images/site/divider-top.png'); background-position:center bottom;}
blockquote::after {content: url('../../images/site/divider-bottom.png'); background-position:center bottom;} 

.container .blog-post p { color:#000; font-size: 16px; font-weight: 600;}
.container .blog-post hr { border: 0; height: 1px; border-top:2px #99cccc dotted; width: 100%; padding: 5px 0; margin-top: 20px;}
 
.container .blog-post ul { font-size:16px; line-height: 150%; 
	list-style-type: none;
	padding-left: 0;
	margin: 10px 0 10px 10px;}

.container .blog-post li { color:#000; padding-left: 30px; margin-bottom: 3px;font-size: 16px; font-weight: 600;}

.container .blog-post ul li::before {
    content: "\f054";
    font-family: 'Font Awesome\ 5 Free';
    position: absolute;
    left: 0px;
    color: #669999;
    font-size: 11px;
    margin-top: 2px;
	display: inline-block;
	font-weight:900;
	margin-left: 20px;
}

.form-group .fb-required {color: #000!important; font-weight:600; padding-left: 5px; padding-top: 5px; position: relative; top: 4px;}
.form-control:focus {box-shadow: 0 0 0 .2rem rgba(153,204,204,0.25)!important; border-color: #99cccc!important; } 
.form-group input {border-radius: unset!important;}

.read-more-btn {text-transform: uppercase; background: #99cccc; padding:12px 20px; color:#fff!important; font-size: 18px; letter-spacing: 4px; font-weight: 600;}
.read-more-btn:hover {background: #fff; color:#99cccc!important; border: 1px solid #99cccc;}

/**************************
LOGO
**************************/
.div-logo {position: absolute; top: 0; right: 0; left: 0; z-index: 1030; margin-left:7%;}
.navbar-logo-img-smaller { 
	position: relative;
	transform-origin: top center;
	transition: all 2s ease-in-out;	
	transform: scale(0.70);	
}

/**************************
NAVBAR
**************************/
.div-navigation {position: absolute; /*top: 320px; */ top:260px; right: 0; left: 0; z-index: 1030; margin-left:8%; width: 20%;}
.navbar-expand-lg .navbar-nav { -ms-flex-direction: column; flex-direction: column;}
.navbar-nav .nav-link {font-size:18px; color:#000!important; font-weight: 600; text-transform:lowercase; background-color: none!important; letter-spacing: 4px;}
.nav-link-active > span { border-bottom: 1px solid #99cccc!important;}
.nav-item a:hover > span { border-bottom: 1px solid #99cccc!important;}
.btco-hover-menu a, .navbar > li > a {padding: 15px 15px;}

/**************************
NAVBAR - SECONDARY
**************************/
.div-navigation-secondary {position: absolute; top:15px; /*top: 40px; */ right: 4%; left: 0; z-index: 1030; margin-left:7%; text-align: right;}
.div-navigation-secondary a {color: #000; text-decoration: none; padding:0 5px; font-size: 18px; font-weight: 700; letter-spacing: 4px;}
.div-navigation-secondary a i {color: #669999; font-size:17px;}

.div-navigation-secondary a:hover {color: #669999;}
.div-navigation-secondary a i:hover {color: #000;}

.navbar-toggler {color: #000; border:none!important;}

/**************************
NAVBAR - SHOP
**************************/
.navbar-shop {padding: 0 10px;}
.navbar-shop a {color: #28a745; text-decoration: none; padding:0 5px;}
.navbar-shop a:hover {color: rgba(255,255,255,1);}

/**************************
HOME PAGE
**************************/
.featurette {}
.home-intro {padding: 20px 0; text-align: center;}

/**************************
HOME PAGE - SLIDER
**************************/
.carousel {margin-bottom: 0;}
.carousel-item {height:848px;}
.carousel-item > img {height: 848px; right:0!important; left:auto!important;}	
.carousel-item h1 {font-family: 'Roboto Slab', Arial,Verdana,sans-serif;font-size:50px; font-weight: 200; color:#272a67;}
.carousel-caption {left: 12%!important; top:60%;}
.carousel-control-next, .carousel-control-prev {width:3%;}

.carousel-overlay {position: absolute; top: -50px; right: 0; left: 0; z-index: 1015;
   -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 5s; /* Firefox < 16 */
	-ms-animation: fadein 5s; /* Internet Explorer */
	 -o-animation: fadein 5s; /* Opera < 12.1 */
		animation: fadein 5s;
}

.carousel-bottom{
	position: absolute;
	top:650px;
	z-index: 9999;
	font-size: 32px !important;
	color: #000000 !important;
	margin-left: 50px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/**************************
HOME PAGE - NEWS PANEL
**************************/
.home-news {width: 100%; background: #343a40; padding: 40px 0; text-align: center;}
.home-new-img {padding: 10px 0;}
.home-news h2 {color:#fff;}
.home-news p {color:#fff;}

/**************************
HOME PAGE - PROJECTS PANEL
**************************/
.home-projects {width: 85%; background: #999999; padding: 40px 0; text-align: center;}
.home-projects-img {padding: 10px 0;}
.home-projects h2 {color:#fff;}
.home-projects p {color:#fff;}

/**************************
HOME PAGE - PRODUCTS PANEL
**************************/
.home-products {width: 70%; margin:auto; background: #fff; padding: 15px 0 50px 0; text-align: center; /*position: relative; margin-top:20px; top: -50px; margin-bottom:-40px;*/ }
.home-products-img {padding: 10px 0; position: relative; z-index: 1030; margin-top: 20px; overflow:hidden; padding-bottom: 50px; }
.div-img img {width:100%; height:auto;}
.home-products-txt {position:relative; /* top: -80px; margin-bottom: -80px; padding: 20px; */ top: -40px; margin-bottom: -0px; padding: 10px; background: rgba(255,255,255,0.80); z-index: 10000;}
.home-products h2 {color:#000; text-transform: uppercase; font-size: 32px; font-weight: 700; /* margin-bottom: 10px; */ letter-spacing: 4px; position: relative; z-index: 1050;}
.home-products h3 {color:#999999; /*text-transform: uppercase; */ font-size: 18px; letter-spacing: 0px; font-weight: 600;  margin-bottom: 0;}
.home-products h4 {color:#000; font-size: 18px; font-weight: 600;}
.home-products p {color:#fff;}
.home-products img {position: relative; z-index: 1050;}
.home-products .col-lg-4 {padding-right: 8px;padding-left: 8px;}
.home-products .row {margin-top: 30px; margin-bottom: 10px;  position: relative; z-index: 1050; text-align: center; /*margin: 30px auto 10px auto;*/}

.home-products-a, .home-products-a img,.div-img  {overflow:hidden; max-height:400px;}
.home-products-a:hover .div-img img {color:#000;  overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}

.home-products-a:hover  {color:#000;  overflow:hidden; opacity:0.6;}
.home-products-a:hover h3 {color: #fff;}
.home-products-a:hover h4 {color: #fff; }
.home-products-a:hover .home-products-txt {background: rgba(0,0,0,1.00); /*padding-bottom: 2px!important;*/} 

.home-products-btn {text-transform: uppercase; background: #99cccc; padding:12px 20px; color:#fff!important; font-size: 18px; letter-spacing: 4px; font-weight: 600;}
.home-products-btn:hover {background: #fff; color:#99cccc!important; border: 1px solid #99cccc;}

/**************************
HOME PAGE - PRODUCTS PANEL (CAROUSEL)
**************************/
.products-carousel-panel {padding: 30px 0 0px 0; position: relative; z-index: 2000; max-height: 400px; margin-bottom: 20px; overflow: hidden;}
.products-carousel span img {/*width:auto;*/ max-height: 400px;}
.products-carousel span {padding: 0 30px;}

/**************************
HOME PAGE - PARALLAX PANEL V1
**************************/
.parallax-container1 h2 {color:#fff; text-transform: uppercase; font-size:36px; font-weight: 700; text-align: center; margin-bottom: 0; letter-spacing: 4px;}
.parallax-container1-overlay {background-color: rgba(0,0,0,0.75);}
.parallax-container1 p {color:#fff; font-size:18px; font-weight: 600; text-align: center; width:25%; margin:auto; padding:40px 0;}
.parallax-container1-btn {text-transform: uppercase; padding:12px 0px; color:#fff; font-weight: 600; font-size: 18px; letter-spacing: 4px; border:2px solid #fff; width:25%; text-align: center; margin:auto;}
.parallax-container1-btn:hover {background: #fff; color:#000; border: 2px solid #fff;}
.parallax-container1-txt {position: relative; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
.parallax-container1 { background-attachment:fixed; background-size: 100% auto; }

.parallax-container2 {width:100%; background: #fff; overflow:hidden;}

.parallax-container2-img1 {
    background-image: url('../../images/site/pic2.jpg');
	background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
	float: left;   
    width: 50%;
    height: auto;    
	box-shadow: 
        inset 0px 15px 8px -10px #fff,
        inset 0px -15px 8px -10px #fff; 			
}

.parallax-container2-img2 {
    background-image: url('../../images/site/pic3.jpg');
	background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
	float: left;   
    width: 50%;
    height: auto;    
	box-shadow: 
        inset 0px 15px 8px -10px #fff,
        inset 0px -15px 8px -10px #fff; 			
}


.parallax-container3 h2 {text-align: center;}
.parallax-container3 h3 {text-align: center; padding-top: 20px;}
.parallax-container3 h2 span {color:#000; background-color: #fff; text-transform: initial!important; font-size:30px; font-weight: 700; text-align: center; margin-bottom: 0; margin: auto; padding: 10px 60px; letter-spacing: 0px;}
.parallax-container3 h3 span {color:#000;  background-color: #fff;  font-size:22px; font-weight: 700; text-align: center; margin-bottom: 0; margin: auto; padding: 10px 60px; letter-spacing: 0px;}
.parallax-container3-txt {position: relative; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}

.image-column {width:50%; height:580px;}
.image-column img {width:100%;}

/**************************
HOME PAGE - PARALLAX PANEL V2
**************************/
.parallaxParent1 {
	height: 420px;
	overflow: hidden;
}
.parallaxParent1 > * {
	height: 200%;
	position: relative;
	top: -100%;
}

.parallaxParent3 {
	height: 340px;
	overflow: hidden;
}
.parallaxParent3 > * {
	height: 200%;
	position: relative;
	top: -100%;
}

.parallax1-img {background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../../images/site/pic1c.jpg); background-repeat: no-repeat; background-size:cover;background-position: center; }		
.parallax3-img {background-image: url(../../images/site/pic4a.jpg); background-repeat: no-repeat; background-size:cover;background-position: center;}

.parallax1-img-mod {background-size:100%;}
.parallax3-img-mod {background-size:100%;}

.parallax1-block {position: absolute; width: 100%; z-index: 1; text-align: center;}
.parallax1-txt {position: relative; top:60px;}
.parallax1-txt h2 {color:#fff; text-transform: uppercase; font-size:32px; font-weight: 700; text-align: center; margin-bottom: 0; letter-spacing: 4px;}
.parallax1-txt p {color:#fff; font-size:15px; font-weight: 600; text-align: center; width:25%; margin:auto; padding:30px 0;}
.parallax-container1-btn {text-transform: uppercase; padding:12px 0px; color:#fff; font-weight: 600; font-size: 18px; letter-spacing: 4px; border:2px solid #fff; width:25%; text-align: center; margin:auto;}
.parallax-container1-btn:hover {background: #fff; color:#000; border: 2px solid #fff;}

.parallax3-block {position: absolute; width: 100%; z-index: 1; text-align: center;}
.parallax3-txt {position: relative; top:150px;}
.parallax3-txt h2 {text-align: center;}
.parallax3-txt h3 {text-align: center; padding-top: 20px;}
.parallax3-txt h2 span {color:#000; background-color: #fff; text-transform: initial!important; font-size:30px; font-weight: 700; text-align: center; margin-bottom: 0; margin: auto; padding: 10px 60px; letter-spacing: 0px;}
.parallax3-txt h3 span {color:#000;  background-color: #fff;  font-size:22px; font-weight: 700; text-align: center; margin-bottom: 0; margin: auto; padding: 10px 60px; letter-spacing: 0px;}

/**************************
HOME PAGE - MEET SINEAD PANEL
**************************/
.home-meet {width: 100%; margin:auto; background: #fff; text-align: center; position: relative; background-image: url(../../images/site/flourish2.png); background-repeat: no-repeat; background-position: top left; top: -10px; margin-bottom: -10px; }
.home-meet .container {width:100%; text-align: center; margin:auto; padding: 70px 0; margin:20px 0;}
.home-meet .row {width: 90%; margin: auto;}
.home-meet .col-6 {padding:0;}
.home-meet h2 {font-size:49px; color:#cc9999; font-weight: 700; text-align: left; text-transform: initial;}
.home-meet p {font-size:14px; color:#000; text-align: left; font-weight: 600; line-height: 200%; width:68%;}

.home-meet-btn {text-transform: uppercase; background: #fff; padding:12px 0px; color:#000; font-weight: 500; font-size: 18px; letter-spacing: 4px; border:1px solid #cc9999; width:68%; }
.home-meet-btn:hover {background: #cc9999; color:#000; border: 1px solid #cc9999;}

/**************************
INSIDE PAGE
**************************/
.insideFlourish {position:absolute; top:0; left:0;}

/**************************
NAVSIDEBAR
**************************/
.sidebar-module a {color: #9a9da0; text-decoration: none;}
.sidebar-module a:hover {color: #000;}
.navsidebar .active > a {color: #000;}

/* Sub Menu */
.navsidebar-sub {padding-left:10px;}

/**************************
PRODUCTS MODULE
**************************/
.products-row .col-md-4 {padding-top: 15px;}
.products-row {margin-top: 0!important; padding-bottom: 0!important; min-height: 0!important;}
.products-row .col-3 img {width: 100%;}

.products-row-txt {position:relative; /* top: -60px; margin-bottom: -60px; */ top: -50px; margin-bottom: -50px; background: rgba(255,255,255,0.80); padding: 5px; }
.products-row h2 {color:#000; text-transform: uppercase; font-size: 32px; font-weight: 700; margin-bottom: 10px; text-align: center;}
.products-row h3 {color:#999999; text-transform: uppercase; font-size: 18px; letter-spacing: 0px; font-weight: 600; text-align: center; margin-bottom: 0;}
.products-row h4 {color:#000; font-size: 18px; font-weight: 600; text-align: center;}

.products-row-a, .products-row-a img,.div-img  {overflow:hidden;}
.products-row-a:hover .div-img img {color:#000;  overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}

.products-row-a:hover  {color:#000;  overflow:hidden;   
	opacity:0.6;
}
.products-row-a:hover h3 {color: #fff;}
.products-row-a:hover h4 {color: #fff; }
.products-row-a:hover .products-row-txt {background: rgba(0,0,0,1.00); /*padding-bottom: 2px!important; */} 

.product-item-price {color:#000; font-weight:700; font-size: 18px;}
.product-item-description {padding: 10px 0;}
.product-item-shipping {padding-bottom:20px;}
.product-item-shipping h3 {text-transform: uppercase; font-weight:400; letter-spacing: 3px; font-size: 13px;}

.btn-cart {text-transform: uppercase; background: #99cccc; padding:12px 0px; color:#fff; font-size: 18px; letter-spacing: 4px; font-weight: 600; border: none; width: 100%;}
.btn-cart:hover {background: #fff; color:#99cccc; border: 1px solid #99cccc;}

/**************************
SHOPPING CART
**************************/
.hidden-country {display:none!important; height:0!important;}

.table thead th {border-bottom: 2px solid #99cccc;}
.table td, .table th {border-top: 1px dotted #99cccc;}
.table thead th {letter-spacing: 4px; color:#000; font-size: 18px; border-top: none;}
.table td {color:#000; font-size: 16px; font-weight: 400;}
.table tfoot th {color:#000; font-size: 16px; text-align: right; border-top: 1px solid #99cccc; font-weight: 700;}
.td-center {text-align: center;}
.td-right {text-align: right;}

.btn-cart-remove {color: #99cccc!important; text-decoration: none; font-size: 16px !important; font-weight: 600; letter-spacing: 2px; position: relative; top: -4px; padding: 0; text-transform: lower;}	
.btn-cart-remove i {position: relative; top:1px;}
.btn-cart-remove:hover {color: #000!important; text-decoration: none;}

.btn-cart-shopping {color: #99cccc!important; text-decoration: none; font-size: 18px !important; font-weight: 600; letter-spacing: 2px; text-transform: lower;}	
.btn-cart-shopping:hover {color: #000!important; text-decoration: none;}

.btn-checkout, .btn-checkout:active, .btn-checkout:visited {text-transform: uppercase; background: #99cccc; padding:12px 20px; color:#fff; font-size: 18px; letter-spacing: 4px; font-weight: 600; border: none; border-radius: 0;  border: 1px solid #99cccc;}
.btn-checkout:hover {background: #fff; color:#99cccc; border: 1px solid #99cccc;}

#checkout h3 {color: #99cccc !important; font-size: 18px !important; font-weight: 600; letter-spacing: 2px; text-transform: lowercase;}

.alert-info {
    color: #000;
    background-color: #fff;
    border-color: #99cccc;
    border-radius: 0;
    letter-spacing: 2px;   
    font-weight: 600;
    margin: 0 0px 20px 0px;
}

.alert-error {color:#FB0307}

.form-control-feedback {color: #CC0000; padding: 10px 0px 0px 10px;}

/**************************
FOOTER
**************************/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 252px; /* Set the fixed height of the footer here (for sticky footer) */
  background-color: #99cccc;
  text-align: left;
}

.footer .container {width: 80%; padding: 40px 0; background-color: #99cccc;}
.footer .container .row {margin-top:0; padding-bottom: 0px; min-height: 0;}

.footer-txt {padding: 10px 0;}
.footer-menu {text-transform: uppercase;}

.footer a, .footer a:active {color: #669999; text-decoration: none; font-size: 14px; font-weight: 600; letter-spacing: 2px;}
.footer a:hover{ color: #000; text-decoration: none;}

.footer-mobile {display: none; height:0; visibility:hidden;}

.footer .col-sm-2,.footer .col-sm-3, .footer .col-sm-4 {padding-left:5px; padding-right:5px;}

/**************************
PREVIEW BAR
**************************/
.preview {width:100%; height:52px; background-color: #a6dbd7; position:fixed; z-index: 1000; top:0; color:#fff; }
.preview .navbar-logo {height: 54px; width: auto; position: relative; top: -2px;margin-left: 15px}
.preview, .preview a {font-size: 20px; color:#fff; font-weight: 500; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.preview a:hover {color: #000!important;}
.preview a i {padding-top: 15px;}
.preview-return {float:right; margin-right: 30px;}
.preview-return a {font-size:16px; color:#b71319;}
.preview .spacer {padding: 0 10px;}

/**************************
HELPER - SHARING
**************************/
#share {border: 0; height: 1px; border-top:2px #99cccc dotted; width: 100%; padding: 20px 0; margin-top: 20px; clear:both;}
.a2a_menu a {font-size: 13px!important;}
.a2a_menu {background: #e8e8e8!important; }
a.a2a_i, i.a2a_i {border: none!important;}
#share i {font-size: 18px; padding: 0 7px 0 0;}
#share a {padding: 0 7px 0 0;}
.share-space {float: left; padding: 0 70px 0 0; }
.share-space a {color: #99cccc; }
.share-space a:hover {color: #000; }

/**************************
HELPER - PAGINATION
**************************/
#pagination ul {border-top: 2px #99cccc dotted; margin-top: 50px; clear: both;}
.pagination  li {padding: 0 10px; font-size: 16px;}
.pagination li:before {content: ""!important;}
.pagination  li {padding-left:0!important;}
.pagination .page-link {
    color: #000;   
    background-color: #fff;
    border: none;
}
.pagination  .page-item.disabled .page-link {color:#dee2e6;}
.pagination .page-link:hover {border-bottom: 1px solid #99cccc;}

.pagination .page-item.active .page-link {
    z-index: 1;
    color: #000;
    background-color: #fff;
    border:none;
	border-bottom: 1px solid #99cccc;
}

/**************************
HELPER - BUTTONS
**************************/
button:focus { outline: none!important;}

.btn-more {width: auto; margin-top: 10px!important; text-align: center;  } /* style used on button tag */
.btn-more a, .btn-more a:active, .btn-more a:visited { }
.btn-more a:hover {}

.btn-back {width:100%; font-size: 18px!important; font-weight: 400;  padding: 20px 0 0 0; font-weight: 600;letter-spacing: 4px; }
.btn-back a, .btn-back a:active, .btn-back a:visited {color: #99cccc;!important; text-decoration: none;}	
.btn-back a:hover {color: #000;!important;}

/**************************
NEWS MODULE
**************************/
.news-list-item {clear:both;  padding: 20px 0px; overflow: hidden;}
.news-list-item .btn {padding: 2px 20px;}
.news-list-item-txt {float: left;   width: 65%;}
.news-list-item-img {float: right;  width: 35%;}

.news-item {clear:both; padding: 10px 0px; overflow: hidden; width:100%;}
.news-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.news-item-img {float: right;  width: 35%; height: auto; padding-top: 20px;  text-align: center; margin: 0;}	
.news-item-img img {width: 100%; max-width: 100%; height: auto;}

/**************************
FAQS MODULE
**************************/
.faqs .accordion-toggle {text-decoration: none!important;}
.faqs .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Font Awesome\ 5 Free';  /* essential for enabling glyphicon */
    content: "\f078";    /* adjust as needed, taken from bootstrap.css */
    padding-left:10px;
	font-weight:900
}
.faqs .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f054";    /* adjust as needed, taken from bootstrap.css */
}

/**************************
DOCUMENTS MODULE
**************************/
.document-wrapper {width:100%; clear:both; border-top: 1px #007bff solid; padding: 10px 10px;}
.document-title {float:left;}
.document-link {float:right;}
.document-link a, .document-link a:active, .document-link a:visited {text-decoration: none;}	
.document-details {width:100%; clear:both; padding-bottom: 5px; }

/**************************
GALLERY MODULE
**************************/
.gallery-block{
	padding-bottom: 60px;
	padding-top: 60px;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold; 
}

.gallery-block.cards-gallery .card{
  transition: 0.4s ease; 
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
}

.gallery-block.cards-gallery .card-body {
  text-align: center; 
}

.gallery-block.cards-gallery .card-body p {
  font-size: 15px; 
}

.gallery-block.cards-gallery a {
  color: #212529; 
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none; 
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
	}
}

/**************************
PROJECTS MODULE
**************************/
.project-list-item {clear:both;  padding: 20px 0px; overflow: hidden;}
.project-list-item .btn {padding: 2px 20px;}
.project-list-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.project-list-item-img {float: right; text-align: center;margin: 0 0 20px 0;}	
.project-list-item-img img {width: 100%; max-width: 100%; height: auto;}

.project-item {clear:both; padding: 10px 0px; overflow: hidden; width:100%;}
.project-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.project-item-img {float: right;  width: 35%; height: auto; text-align: center;}	
.project-item-img img {/*width: 100%; max-width: 100%; height: auto; */ width:auto; height:auto; max-height: 200px;} 

.project-block.cards-project .card{
  transition: 0.4s ease; 
}

.project-block.cards-project .card img {}

@media (min-width: 576px) {
	.project-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);	   
	}
}

/**************************
CONTACT MODULE
**************************/

.g-recaptcha-container{ margin-bottom: 15px; }

/**************************
RESPONSIVE
**************************/

.cycle-slideshow { width: 45% }

@media screen and (max-width: 480px) {		
	.div-navigation-secondary a {letter-spacing: 0px;}
	.div-navigation {right:0!important; top: 30px!important;}	
	.div-logo {margin-left: 8px; top: -6px!important;}
	.navbar-logo img {height: 55px!important;}	
	.navbar-collapse {background-color: rgb(255,255,255,1.0);}	
	.div-navigation-secondary {top:3px;}
	.navbar-nav .nav-link {text-align:center!important;}     
	
	.carousel-overlay {display: none!important; visibility: hidden!important; height:0!important;}
	.carousel-item > img {right: -150px!important; height: 420px;}		
	.carousel-item {height:420px;}
	
	.footer {padding: 30px 0;}
	.footer .container { width: 100%; padding: 0;}
	.footer-col-1 {width:100%!important;max-width:100%!important; text-align: center!important;}
	.footer-col-2 {width:100%!important;max-width:100%!important; text-align: center!important;}
	.footer-menu {text-align: center!important;}
	.footer-txt {text-align: center;}
	.footer a, .footer a:active {font-size:11px;}
	.footer-desktop {text-align: center;}
	
	.home-meet .container {padding: 30px 0;}
	.home-products {width: 95%;}
	.home-products h2 {font-size: 25px; margin-bottom: 0px;}
	.home-products img {padding-bottom: 10px;}
	.home-products-txt { padding: 10px;}
	
	.parallax-container1 h2 {font-size:16px;}
	.parallax-container1 p {font-size:13px; padding: 20px 0;}
	.parallax-container1-btn {font-size:16px; width:80%;}
	.parallax-container3 h2 span {font-size: 11px!important;padding: 10px 10px!important;}
	.parallax-container3 h3 span {font-size: 10px!important;padding: 10px 10px!important;}
	
	.parallax1-txt { top: 70px;}
	.parallax1-txt h2 {font-size:16px; padding-bottom: 10px;}
	.parallax1-txt p {display: none!important; visibility: hidden!important; height:0!important;}
	.parallax1-txt .parallax-container1-btn {font-size:12px; width:70%; padding: 7px 0px;}
	.parallax3-txt { top: 75px;}
	.parallax3-txt h2 span {font-size: 11px!important;padding: 5px 10px!important;}
	.parallax3-txt h3 {padding-top: 10px;}
	.parallax3-txt h3 span {font-size: 10px!important;padding: 5px 10px!important;}
	
	.home-meet img {width:70%;}
	.home-meet h2 {font-size:25px;}
	
	.blog-masthead { margin-top: 50px!important; min-height:inherit!important; margin-bottom: 10px!important; }
	.blog-masthead .container {padding:0!important;}
	.blog-masthead .col-sm-8 {  width: 95%!important; max-width: none!important; flex: none!important; margin: 0 2%!important;}
	.blog-post h1 {padding-bottom: 0px; margin-bottom: 0px;}
	
	.project-item-img img {width:100%!important; /*max-width:none!important;*/}
	
	.parallaxParent1 {height: 200px;}
	.parallaxParent3 {height: 200px;}
	.image-column {height:200px;}
	.parallaxParent1 h2, .parallaxParent1 p {display:none; height:0; visibility: hidden;}

	.carousel-bottom{font-size: 12px !important; top: 350px; margin-left: 10px;}

	.read-more-btn {text-transform: uppercase; background: #99cccc; padding:1px 4px; color:#fff!important; font-size: 12px; letter-spacing: 2px; font-weight: 600; margin-top: 5px !important;}
	.read-more-btn:hover {background: #fff; color:#99cccc!important; border: 1px solid #99cccc;}

	.card{width: 50%; float: left;}
	.project-item-img img{max-width: 80% !important; margin-left: 15px; margin-top: 15px;}
	.project-item-img{  }

}

@media screen and (max-width: 667px) and (orientation:landscape) {
	.carousel-item {height:380px;}
	.carousel-item > img {height: 380px;}	
	.carousel-overlay img {width:70%;}
	
	.div-navigation-secondary {top:1px; right: 2%; }
	.div-navigation {top:30px!important; right: 0.7%;}
	
	.parallax-container1-btn {width:60%;}
	
	.blog-masthead {margin-top: 40px!important;}
	
	.footer {padding: 30px 0;}
	.footer .container { width: 100%; padding: 0;}
	.footer-col-1 {width:100%!important;max-width:100%!important; text-align: center!important;}
	.footer-col-2 {width:100%!important;max-width:100%!important; text-align: center!important;}
	.footer-menu {text-align: center!important;}
	.footer-txt {text-align: center;}
	.footer a, .footer a:active {font-size:11px;}
	.footer-desktop {text-align: center; width:100%!important; flex:none!important; max-width: none!important;}
	.footer .col-sm-4, .footer .col-sm-3 { width:100%!important; flex:none!important; max-width: none!important;}
}

@media only screen and  (max-width: 992px) {
	/* Menu Collapse */
    .div-navigation {position: absolute; top: 60px; left: auto !important; right: 2.7%; padding: 0; width:100%!important; margin-left:0!important;}
    .navbar-collapse {position: relative; top: -5px; }
    .navbar-nav {}
    .navbar-nav .nav-link {text-align:right;}     
	.navbar-logo img {/*width:90px;*/ height:80px}
	
	.blog-masthead {margin-top:100px;}
	.blog-masthead .col-sm-8 {width:86%; max-width: none!important; flex:none!important; margin: 0 7%;}
	.blog-masthead .blog-sidebar {display:none!important; visibility: hidden!important; height:0!important; width:none!important; }
	.blog-post {width:100%!important;}
	.blog-post h1 {font-size: 30px;}

	.btn-checkout, .btn-checkout:active, .btn-checkout:visited {font-size: 14px; width:100%;}
	.btn-cart-shopping {font-size: 14px!important; width:100%; padding-bottom: 20px;}
	.btn-cart-remove {font-size: 12px!important;}
	.text-right {text-align: center!important;}
	.table tfoot th {font-size: 12px!important;}
	.table thead th {font-size: 12px!important;}
	.table td {font-size: 12px!important;}
	.alert-info {letter-spacing: 0px;}
	
	.parallax1-txt p {width: 90%;}	
	.parallax3-txt h2 span {font-size: 20px;}
	.parallax3-txt h3 span {font-size: 16px;}
}

@media only screen and  (max-width: 768px) {	  
      .container .row {width: 100%; padding: 0px; min-height: 50px; /*display: -webkit-flex;display: -webkit-box;  flex-direction: column; -webkit-flex-direction: column; */ /*text-align: center; */ margin: auto;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        /*display: -webkit-box; safari, ipad */ 
        display: -ms-flexbox;}			
	    
	.blog-sidebar  {width: 100%; padding: 0 10px 10px 10px!important; margin: 0; background: none; -webkit-order: 2; order: 2; }			
	.blog-main { width: 100%; padding: 20px 10px 10px 10px; margin: 0; background: none; border: none; -webkit-order: 1; order: 1; flex:none!important; max-width: 100%;}	

	.navbar {z-index:500000;}
	.navbar-nav {z-index: 50000; position: relative;}
	.navbar-nav .nav-link {font-size: 16px!important;}
	.blog-sidebar  {width: 100%!important; max-width: 100%!important; padding: 0 10px 10px 10px!important; margin: 0; background: none; -webkit-order: 2; order: 2; }			
	.blog-main { width: 100%; padding: 20px 10px 10px 10px; margin: 0; background: none; border: none; -webkit-order: 1; order: 1; flex:none!important; max-width: 100%;}
	
	.blog-masthead {/*margin-top: 250px; */ min-height: 500px;}	
	.blog-masthead .container {padding-left: 0; /*margin-left: 4%;*/}
	.project-item-txt {width:100%; padding-right:0; padding-bottom: 40px;}
	.project-item-img {width:100%; text-align:left; float:left;}
	.project-item-img img {width: 50%;max-width: 50%;}
	.project-list-item-img {text-align:left;}
	.btn-cart {width:auto; padding: 12px 20px;}
	
	.parallax3-txt h2 span {font-size: 14px; padding: 10px 20px;}
	.parallax3-txt h3 span {font-size: 12px;padding: 10px 20px;}
}

@media only screen and  (max-width: 991px) {
	.home-products-btn {padding: 12px 20px;}
	.home-products-divider {width:100%;}	
	.parallax-container1 p {width: 90%!important;}
	.parallax-container3 h2 span {font-size:16px;}
	.parallax-container3 h3 span {font-size:14px;}
	.home-meet h2 {text-align: center; padding-top:10px; margin-bottom:0;}
	.home-meet p {text-align: center; width:90%; margin:auto;}
	.home-meet-btn {width:90%; margin:auto; margin-top: 10px;}		
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For ipad portrait layouts only */
	.footer .container {width:100%;}
    .footer-desktop {display:hidden; visibility:hidden; height:0; flex: none;}
	.footer-mobile {display:block; visibility:visible; height: auto; width:100%; padding-bottom:30px;}
    .footer-col-1 {flex:none!important; width: 55%!important; max-width:55%!important; float:left; text-align:right; padding-right:30px; }
    .footer-col-2 {flex:none!important; width: 45%!important; max-width:45%!important; float:left; text-align:left; padding-left:30px;}
    .footer-col-3, .footer-col-4 {flex:none!important; width: 100%!important; max-width:100%!important; text-align:left; }
    .footer-txt {text-align:center;}
    .footer-menu {text-align:left!important;}
	.footer .col-sm-2, .footer .col-sm-3, .footer .col-sm-4 {padding-left: 20px; padding-right: 20px;}
	
	.carousel-overlay {display: none; visibility: hidden; height:0}
	.carousel-item > img {right: -350px!important;}		
	
	.navbar-logo img {height: 120px;}
	
	.parallaxParent1 {height: 250px;}
	.parallaxParent3 {height: 250px;}
	.image-column {height:300px;}
	
	.parallax1-txt {top:25px;}
	.parallax1-txt h2 {font-size:20px;}
	.parallax1-txt p {font-size:16px; padding:20px 0;}
	.parallax-container1-btn {padding: 7px 0;}
	.parallax3-txt {top:90px;}

	.carousel-bottom{font-size: 26px !important; top: 710px !important; margin-left: 10px;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For ipad landscape layouts only */
    h1 {font-size: 60px; padding-bottom: 5px;}
    
    .div-navigation-secondary {top:10px; right:2%;}
	.carousel-item { height: 680px;}
	.carousel-item > img {height: 680px; right: -200px!important;}
	.carousel-overlay img {width: 90%;}
	
	.home-products .container .row {text-align: center!important; margin:auto;}
	.home-products-divider {width: 90%;}
	.home-meet h2 {font-size:30px;}
	.home-meet p {width: 100%;}
	
	.home-products-txt {padding: 5px; top: -60px; margin-bottom: -60px;}
	 
	.parallax-container1 p {width: 60%;}
	.parallax-container3 h2 span {font-size:20px;}
	.parallax-container3 h3 span {font-size:16px;}
	
	.parallax1-txt p {width: 60%;}	
	.parallax1-txt {top:70px;}
	.parallax3-txt h2 span {font-size:20px;}
	.parallax3-txt h3 span {font-size:16px;}
	
	.div-navigation {top:250px;}
	.blog-masthead {margin-top: 45px; min-height: 500px;}
	.insideFlourish img {width:70%;}
	
	.alert-info {letter-spacing: 0px;}
	    
	.footer .container {width:97%;}
	.footer a, .footer a:active {font-size:11px;}
	.footer .col-sm-3 img {width: 80%;}
	.footer .col-sm-2 {flex: 0 0 10%!important; max-width: 10%!important;}
	.footer .col-sm-4 {flex: 0 0 38.333333%; max-width: 38.333333%}

	.carousel-bottom{font-size: 28px !important; top: 510px !important;}
}

@media only screen and (min-width : 1025px) and (max-width : 1400px) {		
	/* Desktops and laptops */
	.parallax1-txt p {width: 70%;}
}

/* Extra Break Points */
@media only screen and (min-device-width: 769px) and (max-width: 1900px) {
	.carousel-overlay img {width: 80%;}
}

@media only screen and (min-width : 1025px) and (max-width : 1700px) {		
	/* Desktops and laptops */
	.parallax1-txt p {width: 70%;}
}

@media only screen and (min-device-width: 769px) and (max-width: 1600px) {	
    .carousel-overlay img {width: 60%;}
	.carousel-item > img {right: -200px !important;}
	
	.footer .container {width: 95%;}
	.footer a, .footer a:active {font-size:12px;}
	
	.home-meet p {width:100%;}		
}

@media only screen and (min-device-width: 769px) and (max-width: 1200px) {	
	.footer .container {width:100%;}
    .footer-desktop {display:hidden; visibility:hidden; height:0; flex: none;}
	.footer-mobile {display:block; visibility:visible; height: auto; width:100%; padding-bottom:30px;}
    .footer-col-1 {flex:none; width: 55%; max-width:55%; float:left; text-align:right; padding-right:30px; }
    .footer-col-2 {flex:none; width: 45%; max-width:45%; float:left; text-align:left; padding-left:30px;}
    .footer-col-3, .footer-col-4 {flex:none; width: 100%; max-width:100%; text-align:left; }
    .footer-txt {text-align:center;}
    .footer-menu {text-align:left;}
	.footer .col-sm-2, .footer .col-sm-3, .footer .col-sm-4 {padding-left: 20px; padding-right: 20px;}
	
	.parallax-container3 h2 span {font-size:25px;}
	.parallax-container3 h3 span {font-size:20px;}
	.parallax-container1 p {width:45%;}
	.parallax-container1-btn {width:45%;}
}

@media only screen and (min-device-width: 769px) and (max-width: 1100px) {	  
   .carousel-overlay {display:none; visibility: hidden; height:0;}	
}

@media only screen and (min-device-width: 769px) and (max-width: 1030px) {	
   .parallax-container3 h2 span {font-size:18px;}
   .parallax-container3 h3 span {font-size:16px;}		   
}

@media only screen and (min-device-width: 769px) and (max-width: 900px) {
	.parallax-container3 h2 span {font-size:12px; padding: 10px 10px;}
    .parallax-container3 h3 span {font-size:11px; padding: 10px 10px;}	
}

@media only screen and (min-device-width: 769px) and (max-width: 600px) {
	.parallax1-txt {display:none; visibility: hidden; height:0}   
	.parallax3-txt {display:none; visibility: hidden; height:0}   
}

@media only screen and (min-width: 2000px) {  
	
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Chrome, if Chrome rule needed */
   
    /* Safari 5+ ONLY */    
	/*::i-block-chrome, #head {display: -webkit-box;}*/		
}